@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.chat-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-container::-webkit-scrollbar{
    display: none;
}
